:root {
  --main-font-family: "Pacifico", cursive;
  --secondary-font-family: "Righteous", sans-serif;
  --third-font-family: "PT Sans Caption", sans-serif;
  --fourth-font-family: "Bree Serif", serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: white;
}
body {
  overflow-x: hidden;
  background-color: #f7ecde;
  position: relative;
}
/* start header */
header h1 {
  font-family: var(--main-font-family);
  font-size: 50px;
}
header h1::before {
  content: "";
  position: absolute;
  background-color: #fec260;
  width: 100%;
  height: 20px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  transition: all 0.5s;
}
header h1:hover::before {
  height: 40px;
}
/* end header */
/* start home */
.home .book-content {
  border-width: 2px 0 2px 0;
  border-style: dotted;
  border-color: #352e28;
}
.home .head-book span {
  font-size: 25px;
  font-family: var(--secondary-font-family);
  background-image: linear-gradient(to right, #3ca55c, #b5ac49);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home label {
  font-family: var(--third-font-family);
  font-weight: 700;
}
.home input {
  border: 1px solid #ced4da;
}
.home input:focus {
  border: 1px solid #d99c39;
  box-shadow: 0 0 0 0.25rem #fec26055;
  outline: 0;
}
.home .inputs-book button {
  background-color: #d1512d;
  color: white;
}
.home form button:hover {
  background-color: #bb4120;
  color: white;
}
/* end home */
/* start table */
table {
  font-family: var(--third-font-family);
}
/* end table */
.layer {
  position: absolute;
  top: 0;
  /* transform: translateY(-50%); */
  background-color: #352e283d;
  height: 100vh;
  width: 100%;
  z-index: 2;
  display: none;
  transition: all 0.3s;
}
.card .circles span {
  width: 20px;
  height: 20px;
}
.card .card-title {
  font-family: var(--fourth-font-family);
}
.card .card-text {
  font-family: var(--third-font-family);
  font-size: 17px;
}
.card .card-text i {
  color: #bb4120;
}
